body {
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245);
}

/* Menu Superior */

.barra-nav{
    height: 50px;
    background-color:white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    align-self: start;
    position: fixed;
    width: 100vw;
    z-index: 100;
}

.letras{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.search{
    width: 80%;
    display: flex;
    color:black;
    justify-content: center;
    align-items: center;
}

.barra-nav .search input {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border-radius: solid 1px red;
    color:black;
    align-items: center;
}

.barra-nav .search i{
    margin-left: 10px;
    color: black;
}

.icons{
    display: flex;
    justify-content: start;
    align-items: center;
    color: black;
}

.barra-nav .icons i{
    margin-left: 15px;
}

/* Header info de perfil*/

.profilecontainer{

    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;

}

.btn{
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.btn:focus{
    outline: 0.5rem auto #4d90fe;
}

.profile{
    padding: 5rem 0;
}

.profile::after{
    content: "";
    display: block;
    clear: both;
}

.profile-image{
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.profile-image img{
    border-radius: 50%; /*Con esto hacemos que la imagen quede circular en lugar de cuadrada */
}

.profile-user-settings,
.profile-stats,
.profile-bio{
    float: left;
    width: calc(66.666% - 2rem);
}

.profile-user-settings{
    margin-top: 1.1rem;
}

.profile-user-name{
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}

.profile-edit-btn{
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
}

.profile-settings-btn{
    font-size: 2rem;
    margin-left: 1rem;
}

.profile-stats{
    margin-top: 2.3rem;
}

.profile-stats li{
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.profile-stats li:last-of-type{
    margin-right: 0;
}

.profile-bio{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}


.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
    font-weight: 600;
}

/*stories */

.histories{

    border: none;
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    
   

}

.imagenstories{
    text-align: center;
    
}

.imagenstories img{
    border-radius: 50%;
    display: grid;
    grid-template-rows: 5fr 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    
}

.textostories{
    color: black;
    font-family: 'Playfair Display', serif;
}

/* Menu de galeria */

.opciones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    
}

.opciones2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    text-align: center;
}


 /* galeria */

.contenedor{
    
    margin: 3rem auto;
    width:100%;
    max-width:960px;
    column-count: 3;
    
    
     
}

.publicacion{  
    width: 20vw;
    margin-left: 2vw;
    margin-bottom: 3vw; 
    position: relative;
    float: left;
    overflow: hidden;  
}

.reacciones{
    display: none;
    position: absolute;
    bottom: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    width: 100%;
    margin: 1.5vw;
    
    /* margin: 2vw; */
}

.reacciones > i{
    margin-left: 2vw;
}

.publicacion:hover .reacciones {
    display: block;
} 

.publicacion:hover{
    transform: scale(1.2);
    transition-duration: 500ms ;
    background-color: rgb(226, 214, 214);
  
}



.publicacion img{
    width: 100%;
    margin-bottom: 1vw;
} 



/* footer */

footer{
    text-align: center;
    color: black;
    font-family: 'Raleway', sans-serif;

}

@media screen and (max-width: 576px) {

    .barra-nav{
        height: 50px;
        background-color:white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        align-self: start;
        position: fixed;
        width: 100vw;
        z-index: 100;
    }

    .barrabusqueda{
        display: none;
        visibility: hidden;
    }

    .profile-edit-btn{
        display: none;
        visibility: hidden;
    }

    .profile {
        display: grid;
        grid-template-rows: 1.5fr 0.5fr 0.4fr;
        margin: 3rem auto;
         width:100%;
        max-width:960px;
        
    }



    .profile-image{
        margin-left: 20vw;
        margin-top: 25vw;
        height: 15vw;
    } 


    
}